# Node modules 
node_modules/ 
npm-debug.log* 
 
# Cypress 
cypress/videos/ 
cypress/screenshots/ 
cypress/downloads/ 
 
# IDE files 
.vscode/ 
.idea/ 
 
# OS files 
.DS_Store 
Thumbs.db 
 
# Logs 
*.log 
